*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
h1{
    padding-top: 49px;
    margin-bottom: 10px;
    
}
header{
    height: 84px;
}
.logo{
    width: 1120px;
    margin:auto;
    padding-top: 20px;
}

section{
    text-align: center;
    width: auto;
    height: 483px;
    background: #215398;
}


.title, 
.description{
    color: white;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.slider-container {
    width: 1024px;
    overflow: hidden;
}

.slider-track {
    width: 1024px;
    display: flex;
    position: relative;
    left: 0;
    transition: .2s;
}

.white-box{
    min-width: 32%;
    height: 228px;
    background: white;
    margin-right: 15px;
}
.white-box h3{
    margin-top: 36px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    color: #2D3236;
}

.white-box p{
    margin-top: 12px;
    margin-bottom: 12px;
    color: #808080;
}

.slider-prev{
    margin-right: 20px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    background: rgba(255, 255, 255, 0.05);
    border: none;
}
.slider-next{
    background: rgba(255, 255, 255, 0.05);
    margin-left: 20px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    border: none;
}
svg{
    width: 22px;
    height: 24px;
    color: #28A9E0;
}



.round{
    width: 32px;
height: 32px;
border-radius: 50%;
    background: #FF3859;
box-shadow: 0px 4px 4px rgba(255, 56, 89, 0.2);
position: absolute;
top: -15px;
left: 49%;
}

.content{
    height: auto;
    background: #F1F6FC;
    position: relative;
} 

.content h2{
    padding-top: 49px;
    font-size: 40px;
    line-height: 52px;
}
.content .description{
    color: black;
    margin-top: 3px;
    margin-bottom: 35px;
}
.content h3{
    font-size: 30px;
    line-height: 30px;
}





 @media only screen and (max-width: 900px){
     .white-box{
         min-width: 35%;
     }
    header{
        width: auto;
    }
    .description{
        padding: 3px;
    }
    
    .container{
        padding-bottom: 20px;
    }
    .item{
        width: 50% !important;
         margin: 0; 
        border: 1px solid black;
        margin-bottom: 5px;
        
    }
    .track{
        flex-wrap: wrap;
        width: auto;
        justify-content: center;
    }
    .logo{
        width: auto;
    }
}

